{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
团队介绍
{% endblock %}

{% block head %}
<style>
	.portfolio-area li {
	float: left;
	list-style-type: none;
	overflow: hidden;
	max-width: 50%;
	width: 100%;
}
.portfolio figcaption h4 {
    font-weight: 300;
    text-align: center;
	font-size: 30px;
	color: #FFF;
	margin-bottom: 0;
	position: relative;
	margin-top: 20px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
	-webkit-transition-delay: 1s;
	-moz-transition-delay: 1s;
	-o-transition-delay: 1s;
	-ms-transition-delay: 1s;
	transition-delay: 1s;
    font-family: 'Source Sans Pro', sans-serif;
}






</style>
{% endblock %}

{% block content %}
<div data-spy="scroll" data-target="#navbar-example">
    <!--团队成员-->

    <div class="pricing" id="member">
        <div style="padding:133px 0 0 0"></div>
        <div class="container">
            <div class="testimonial">
                <h3 class="heading">团队成员</h3>
                <div id="top" class="testi-slider callbacks_container">
                    <ul class="rslides" id="slider3">
                        <li>
                            <div class="testi-row">
                                <div class="col-md-5 testi-left">
                                    <img src="{% static 'images/p6.jpg' %}" alt=""/>
                                </div>
                                <div class="col-md-7 testi-right">
                                    <p>" Occaecat commodo aliqua delectus. Fap craft beer deserunt skateboard ea. Lomo
                                        bicycle
                                        rights adipisicing banh mi, velit ea sunt next level locavore single-origin
                                        coffee
                                        in
                                        magna veniam. High life id vinyl " </p><br>
                                    <h4>Kellie Tam</h4>
                                    <h6>Our client</h6>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                        <li>
                            <div class="testi-row">
                                <div class="col-md-5 testi-left">
                                    <img src="{% static 'images/p6.jpg' %}" alt=""/>
                                </div>
                                <div class="col-md-7 testi-right">
                                    <p>" Fap craft beer occaecat commodo aliqua delectus. deserunt skateboard ea. Lomo
                                        bicycle
                                        rights adipisicing banh mi, velit ea sunt next level locavore single-origin
                                        coffee
                                        in
                                        magna veniam. High life id vinyl " </p><br>
                                    <h4>John Doe</h4>
                                    <h6>Our client</h6>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                        <li>
                            <div class="testi-row">
                                <div class="col-md-5 testi-left">
                                    <img src="{% static 'images/p6.jpg' %}" alt=""/>
                                </div>
                                <div class="col-md-7 testi-right">
                                    <p>" Lomo bicycle rights adipisicing banh mi occaecat commodo aliqua delectus. Fap
                                        craft
                                        beer deserunt skateboard ea. velit ea sunt next level locavore single-origin
                                        coffee
                                        in
                                        magna veniam. High life id vinyl " </p><br>
                                    <h4>Elit Semper </h4>
                                    <h6>Our client</h6>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                    </ul>
                    <script>
						// You can also use "$(window).load(function() {"
							$(function () {
							// Slideshow 3
								$("#slider3").responsiveSlides({
								auto: true,
								pager:false,
								nav:true,
								speed: 500,
								namespace: "callbacks",
								before: function () {
								$('.events').append("<li>before event fired.</li>");
								},
								after: function () {
									$('.events').append("<li>after event fired.</li>");
								}
							});
						});
                    </script>
                </div>
            </div>
        </div>
    </div>

    <!--荣誉时刻-->
    <div class="portfolio w3layouts agileits" id="honor">
        
        <div class="container">
            <h3 class="heading">荣誉时刻</h3>
            <ul class="portfolio-categ filter">
                <li class="port-filter all active">
                    <a href="#">所有</a>
                </li>
                <li class="cat-item-1">
                    <a href="#" title="Finance">国际论文</a>
                </li>
                <li class="cat-item-2">
                    <a href="#" title="Business">省级比赛</a>
                </li>
                <li class="cat-item-3">
                    <a href="#" title="Strategy">发明专利</a>
                </li>
                <li class="cat-item-4">
                    <a href="#" title="Development">核心科技</a>
                </li>
            </ul>
            <ul class="portfolio-area">
                <li class="portfolio-item2" data-id="id-0" data-type="cat-item-4">
                    <div>
						<span class="image-block img-hover">
							<a class="image-zoom" href="{%  static 'images/g1.jpg' %}" rel="prettyPhoto[gallery]">
								<figure>
									<img src="{%  static 'images/g1.jpg' %}" class="img-responsive w3layouts agileits"
                                         alt="Corporation">
									<figcaption>
										<h4>国际论文</h4><br>
										<div style="padding:0 20px">
										<p style="font-size:18px;text-indent:2em;text-align:left;font-weight:200;">强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌强无敌</p>
										</div>
									</figcaption>
								</figure>
							</a>
						</span>
                    </div>
                </li>


                <li class="portfolio-item2" data-id="id-1" data-type="cat-item-2">
                    <div>
						<span class="image-block">
							<a class="image-zoom" href="{%  static 'images/g2.jpg' %}" rel="prettyPhoto[gallery]">
								<figure>
									<img src="{%  static 'images/g2.jpg' %}" class="img-responsive w3layouts agileits"
                                         alt="Corporation">
									<figcaption>
										<h4>Corporation</h4>
									</figcaption>
								</figure>
							</a>
						</span>
                    </div>
                </li>


                <li class="portfolio-item2" data-id="id-2" data-type="cat-item-1">
                    <div>
						<span class="image-block">
							<a class="image-zoom" href="{%  static 'images/g3.jpg' %}" rel="prettyPhoto[gallery]">
								<figure>
									<img src="{%  static 'images/g3.jpg' %}" class="img-responsive w3layouts agileits"
                                         alt="Corporation">
									<figcaption>
										<h4>Corporation</h4>
									</figcaption>
								</figure>
							</a>
						</span>
                    </div>
                </li>


                <li class="portfolio-item2" data-id="id-3" data-type="cat-item-4">
                    <div>
						<span class="image-block">
							<a class="image-zoom" href="{%  static 'images/g4.jpg' %}" rel="prettyPhoto[gallery]">
								<figure>
									<img src="{%  static 'images/g4.jpg' %}" class="img-responsive w3layouts agileits"
                                         alt="Corporation">
									<figcaption>
										<h4>Corporation</h4>
									</figcaption>
								</figure>
							</a>
						</span>
                    </div>
                </li>


                <li class="portfolio-item2" data-id="id-4" data-type="cat-item-3">
                    <div>
						<span class="image-block">
							<a class="image-zoom" href="{%  static 'images/g5.jpg' %}" rel="prettyPhoto[gallery]">
								<figure>
									<img src="{%  static 'images/g5.jpg' %}" class="img-responsive w3layouts agileits"
                                         alt="Corporation">
									<figcaption>
										<h4>Corporation</h4>
									</figcaption>
								</figure>
							</a>
						</span>
                    </div>
                </li>


                <li class="portfolio-item2" data-id="id-5" data-type="cat-item-3">
                    <div>
						<span class="image-block">
							<a class="image-zoom" href="{%  static 'images/g6.jpg' %}" rel="prettyPhoto[gallery]">
								<figure>
									<img src="{%  static 'images/g6.jpg' %}" class="img-responsive w3layouts agileits"
                                         alt="Corporation">
									<figcaption>
										<h4>Corporation</h4>
									</figcaption>
								</figure>
							</a>
						</span>
                    </div>
                </li>
                <li class="portfolio-item2" data-id="id-5" data-type="cat-item-4">
                    <div>
						<span class="image-block">
							<a class="image-zoom" href="{%  static 'images/g6.jpg' %}" rel="prettyPhoto[gallery]">
								<figure>
									<img src="{%  static 'images/g6.jpg' %}" class="img-responsive w3layouts agileits"
                                         alt="Corporation">
									<figcaption>
										<h4>Corporation</h4>
									</figcaption>
								</figure>
							</a>
						</span>
                    </div>
                </li>


                <li class="portfolio-item2" data-id="id-6" data-type="cat-item-1">
                    <div>
						<span class="image-block">
							<a class="image-zoom" href="{%  static 'images/g7.jpg' %}" rel="prettyPhoto[gallery]">
								<figure>
									<img src="{%  static 'images/g7.jpg' %}" class="img-responsive w3layouts agileits"
                                         alt="Corporation">
									<figcaption>
										<h4>Corporation</h4>
									</figcaption>
								</figure>
							</a>
						</span>
                    </div>
                </li>

                <li class="portfolio-item2" data-id="id-9" data-type="cat-item-2">
                    <div>
						<span class="image-block">
							<a class="image-zoom" href="{%  static 'images/g9.jpg' %}" rel="prettyPhoto[gallery]">
								<figure>
									<img src="{%  static 'images/g9.jpg' %}" class="img-responsive w3layouts agileits"
                                         alt="Corporation">
									<figcaption>
										<h4>Corporation</h4>
									</figcaption>
								</figure>
							</a>
						</span>
                    </div>
                </li>

                <li class="portfolio-item2" data-id="id-7" data-type="cat-item-1">
                    <div>
						<span class="image-block">
							<a class="image-zoom" href="{%  static 'images/g8.jpg' %}" rel="prettyPhoto[gallery]">
								<figure>
									<img src="{%  static 'images/g8.jpg' %}" class="img-responsive w3layouts agileits"
                                         alt="Corporation">
									<figcaption>
										<h4>Corporation</h4>
									</figcaption>
								</figure>
							</a>
						</span>
                    </div>
                </li>
                <li class="portfolio-item2" data-id="id-9" data-type="cat-item-5">
                    <div>
						<span class="image-block">
							<a class="image-zoom" href="{%  static 'images/g10.jpg' %}" rel="prettyPhoto[gallery]">
								<figure>
									<img src="{%  static 'images/g10.jpg' %}" class="img-responsive w3layouts agileits"
                                         alt="Corporation">
									<figcaption>
										<h4>Corporation</h4>
									</figcaption>
								</figure>
							</a>
						</span>
                    </div>
                </li>

                <li class="portfolio-item2" data-id="id-8" data-type="cat-item-1">
                    <div>
						<span class="image-block">
							<a class="image-zoom" href="{%  static 'images/g2.jpg' %}" rel="prettyPhoto[gallery]">
								<figure>
									<img src="{%  static 'images/g2.jpg' %}" class="img-responsive w3layouts agileits"
                                         alt="Corporation">
									<figcaption>
										<h4>Corporation</h4>
									</figcaption>
								</figure>
							</a>
						</span>
                    </div>
                </li>
                <div class="column-clear"></div>
            </ul>
            <!--end portfolio-area -->
        </div>
    </div>
    <!-- //Portfolio -->
    <!-- counter -->
    <div class="services-bottom stats">
        <div class="banner-dott1">
            <div class="container">
                <h3 class="heading">About Us</h3>
                <div class="container">
                    <div class="col-md-13 ser_grid1">
                        <p style="font-size:20px;text-indent:2em;text-align:left;font-weight:200;color:white;">
                            这里是一大段介绍文字，居中。这里是一大段介绍文字，居中。这里是一大段介绍文字，居中。这里是一大段介绍文字，居中。这里是一大段介绍文字，居中。这里是一大段介绍文字，居中。</p><br>
                    </div>
                </div>

                <div class="wthree-agile-counter">
                    <div class="col-md-3 w3_agile_stats_grid-top">
                        <div class="w3_agile_stats_grid">
                            <div class="agile_count_grid_left">
                                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                            </div>
                            <div class="agile_count_grid_right">
                                <p class="counter">1篇</p>
                            </div>
                            <div class="clearfix"></div>
                            <h4>国际论文</h4>
                        </div>
                    </div>
                    <div class="col-md-3 w3_agile_stats_grid-top">
                        <div class="w3_agile_stats_grid">
                            <div class="agile_count_grid_left">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            </div>
                            <div class="agile_count_grid_right">
                                <p class="counter">2次</p>
                            </div>
                            <div class="clearfix"></div>
                            <h4>省级比赛奖项</h4>
                        </div>
                    </div>
                    <div class="col-md-3 w3_agile_stats_grid-top">
                        <div class="w3_agile_stats_grid">
                            <div class="agile_count_grid_left">
                                <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                            </div>
                            <div class="agile_count_grid_right">
                                <p class="counter">3个</p>
                            </div>
                            <div class="clearfix"></div>
                            <h4>国家发明专利</h4>
                        </div>
                    </div>
                    <div class="col-md-3 w3_agile_stats_grid-top">
                        <div class="w3_agile_stats_grid">
                            <div class="agile_count_grid_left">
                                <span class="fa fa-trophy" aria-hidden="true"></span>
                            </div>
                            <div class="agile_count_grid_right">
                                <p class="counter">10名</p>
                            </div>
                            <div class="clearfix"></div>
                            <h4>核心科技</h4>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}