{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <!--/tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <!--//tags -->

    <!-- FlexSlider css -->
    <link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen"/>
    <!-- //FlexSlider css -->


    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>


    <!-- for bootstrap carousel slider -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}" type="text/css" media="all">
    <!-- //for bootstrap carousel slider -->

    <!-- fontawesome icons  -->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">

    <!-- //bootstrap-modal-pop-up -->

    <!-- js -->
    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/bootstrap-3.1.1.min.js' %}"></script>

    <!-- stats -->
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.countup.js' %}"></script>
    <!-- //stats -->

    <!-- owl carousel -->
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <!-- //owl carousel -->

    <!-- Responsive slider  -->
    <script src="{% static 'js/responsiveslides.min.js' %}"></script>
    <!-- //Responsive slider  -->

    <!-- Flex slider-script -->
    <script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
    <!-- //Flex slider-script -->

    <!-- start-smooth-scrolling -->
    <script src="{% static 'js/move-top.js' %}"></script>
    <script src="{% static 'js/easing.js' %}"></script>
    <!-- //end-smooth-scrolling -->

    <!-- smooth scrolling js -->
    <script src="{% static 'js/SmoothScroll.min.js' %}"></script>
    <!-- //smooth scrolling js -->

    <link rel="stylesheet" href="{% static 'css/global.css' %}" type="text/css" media="all">

    {% block head %}
    {% endblock %}

</head>
<body>
<!-- header -->
<div class="header"  style="position:fixed;z-index:10;width:100%;">
    <div class="agileits_top_menu">
        <div class="container">
            <div class="w3l_header_left">
                <ul>
                    <li><i class="fa fa-phone" aria-hidden="true"></i> +89 150-8982-3201</li>
                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:info@example.com">mrgas2017@163.com</a>
                    </li>
                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> <a href="index.html">陈瑞祺科学馆, 广东省江门市蓬江区</a>
                    </li>
                </ul>
            </div>
            <div class="w3l_header_right">
                <div class="w3ls-social-icons text-left">
                    <a class="login" href="#" data-toggle="modal" data-target="#myModal1">登陆</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="content white agile-info">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'index' %}">
                        <h1>GasSensor</h1>
                    </a>
                </div>
                <!--/.navbar-header-->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                    <nav>
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{% url 'index' %}">主页</a></li>
                            <li><a href="{% url 'analysis' %}">监测平台</a></li>
                            <li><a href="{% url 'service' %}">数据服务</a></li>
                            <li><a href="{% url 'device' %}">智能设备</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">关于格斯 <b
                                        class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/about#member">团队介绍</a></li>
                                    <li><a href="/about#honor">荣誉时刻</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">在线咨询</a></li>
                        </ul>
                    </nav>
                </div>
                <!--/.navbar-collapse-->
                <!--/.navbar-->
            </div>
        </nav>
    </div>
</div>
<!-- //header -->
{% block content %}
{% endblock %}
{% block script %}
{% endblock %}

<div class="footer_w3ls">
    <div class="container">
        <div class="footer_bottom1">
            <p>© 2018 Corporation. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
        </div>
    </div>
</div>
<!-- //footer -->
</body>
</html>